<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Solicitudes</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

<div class="container">
    <div class="form-card">
        <h2>Solicitud Maquina Destructora de Papel</h2>
        <p class="descripcion">Complete todos los campos para enviar su solicitud</p>

        <form id="formSolicitud">
            <input type="text" id="nombre_apellido" placeholder="Nombre y Apellido" required>
            <input type="number" id="cedula" placeholder="Cédula" required>
            <input type="email" id="correo" placeholder="Correo" required>
            <input type="text" id="cargo" placeholder="Cargo" required>
            <input type="text" id="proceso" placeholder="Proceso" required>

            <label>Fecha Inicio</label>
            <div class="row">
                <input type="date" id="fecha_inicio" required>
                <input type="time" id="hora_inicio" required>
            </div>

            <label>Fecha Fin</label>
            <div class="row">
                <input type="date" id="fecha_fin" required>
                <input type="time" id="hora_fin" required>
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("formSolicitud").addEventListener("submit", async function(e){
        e.preventDefault();

        const data = {
            nombre_apellido: document.getElementById("nombre_apellido").value,
            cedula: document.getElementById("cedula").value,
            correo: document.getElementById("correo").value,
            cargo: document.getElementById("cargo").value,
            proceso: document.getElementById("proceso").value,
            fecha_inicio: document.getElementById("fecha_inicio").value,
            hora_inicio: document.getElementById("hora_inicio").value,
            fecha_fin: document.getElementById("fecha_fin").value,
            hora_fin: document.getElementById("hora_fin").value
        };

        await fetch("/solicitudes", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data)
        });

        alert("Solicitud enviada");
    });
</script>

</body>
</html>