<!DOCTYPE html>
<html>
<head>
<title>Solicitud Destructora</title>
</head>

<body>

<h2>Solicitar Destructora</h2>

<form id="formSolicitud">

<input type="text" id="solicitante" placeholder="Nombre" required>
<input type="email" id="correo" placeholder="Correo" required>
<input type="text" id="dependencia" placeholder="Dependencia" required>

<label>Inicio</label>
<input type="datetime-local" id="inicio" required>

<label>Fin</label>
<input type="datetime-local" id="fin" required>

<textarea id="motivo" placeholder="Motivo"></textarea>

<button type="submit">Enviar solicitud</button>

</form>

<script src="/static/script.js"></script>

</body>
</html>